.caja{
    width: 200px;
    height: 200px;
    border: solid black;
}

#padre{
    background-color: yellow;
    height: 100vh;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
}